@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  font-family: 'Roboto', sans-serif; }

@-webkit-keyframes mainShadowAnim {
  from {
    background-color: rgba(0, 0, 0, 0); }
  to {
    background-color: rgba(0, 0, 0, 0.7); } }

@keyframes mainShadowAnim {
  from {
    background-color: rgba(0, 0, 0, 0); }
  to {
    background-color: rgba(0, 0, 0, 0.7); } }

.background-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }
  .background-block .shadow-block {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0); }
  .background-block .shadow-block.show {
    -webkit-animation: mainShadowAnim .7s forwards;
            animation: mainShadowAnim .7s forwards; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

p {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  color: #000; }
  a:hover {
    text-decoration: none; }

.linkBtn {
  width: 250px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  background: #fff;
  color: #000; }
  .linkBtn:hover {
    text-decoration: none;
    color: #000; }

.message {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  top: 0; }
  .message p {
    text-align: center;
    padding: 25px 15px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 250px;
    -webkit-box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3); }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0; }
  .preloader img {
    width: 30px;
    height: 30px; }

.start-container {
  overflow: hidden;
  position: relative; }

.start-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }
  .start-block .start-block__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50%; }
    .start-block .start-block__title p {
      font-size: 24px;
      line-height: 33px;
      font-family: 'Roboto', sans-serif; }
    .start-block .start-block__title span {
      font-size: 36px;
      line-height: 50px;
      font-weight: 500; }

.start-block.hideBlock {
  left: -100%; }

.register-block {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%; }

.register-block.showBlock {
  right: 0; }

.signForm,
.client-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .signForm .form__title,
  .client-form .form__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 38px; }
  .signForm input,
  .client-form input {
    width: 250px;
    margin-bottom: 38px;
    height: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px 0px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    height: 40px;
    min-height: 40px;
    border: 1px solid blue !important; }
  .signForm input[type="submit"],
  .client-form input[type="submit"] {
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    width: 250px;
    height: 40px;
    background: #fff;
    color: #000;
    cursor: pointer; }

input.error {
  border: 1px solid #ff0000; }

label.error {
  color: #ff0000;
  font-weight: normal;
  margin-top: -26px;
  font-size: 12px; }

.register-client {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%; }

.register-client.showBlock {
  right: 0; }

header {
  width: 100%;
  background: #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }
  header .header__company-name {
    height: 25px;
    background: #C2C2C2;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.header-container {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative; }
  .header-container p {
    color: #fff; }
  .header-container .back-button,
  .header-container .burger {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff; }
  .header-container .back-button {
    background-image: url("../img/arrow.svg");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat; }
  .header-container .burger {
    margin-left: 120px; }
  .header-container .user {
    position: absolute;
    right: 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 31px;
    background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-height: 30px; }
    .header-container .user img {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
    .header-container .user:hover {
      cursor: pointer; }
    .header-container .user .user__name {
      width: 80%;
      display: none;
      color: #fff;
      font-size: 12px;
      padding-left: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .header-container .user .user__name span {
        color: rgba(255, 255, 255, 0.7); }
    .header-container .user .user__submenu {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      overflow: hidden;
      position: absolute;
      margin-top: 45px;
      -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
              box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
      background: #fff;
      height: 0; }
      .header-container .user .user__submenu .submenu-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #C4C4C4; }
    .header-container .user .user__link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      margin-bottom: 20px;
      margin-left: 20px; }
      .header-container .user .user__link:hover {
        text-decoration: none; }
      .header-container .user .user__link p {
        color: #000;
        padding-left: 10px; }
    .header-container .user .user__link:first-child {
      margin-top: 20px; }
  .header-container .user.show-submenu {
    width: 188px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.collections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .collections .collections__title {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0 23px 0;
    font-weight: 400; }
    .collections .collections__title span {
      font-weight: 700; }
  .collections .collections__link {
    width: 328px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 18px; }

.catalog-title {
  padding: 15px 0 30px 0;
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  width: 100%; }
  .catalog-title span {
    font-weight: 400;
    letter-spacing: 0.05em; }

.chess {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .chess .chess__item {
    width: 145px;
    height: 190px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 14px 0px 0px 0px;
    margin-bottom: 42px;
    position: relative; }
    .chess .chess__item:hover {
      text-decoration: none; }
  .chess .chess__item:nth-child(even) {
    margin-top: 40px;
    margin-bottom: 0; }
  .chess .chess__num {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background: #000;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px; }
  .chess .chess__img {
    width: 145px;
    height: 148px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .chess .chess__discription {
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #C4C4C4;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 0 5px; }

.product-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 35px; }
  .product-info .product-info__img {
    width: 127px;
    min-width: 127px;
    height: 150px;
    border: 1px solid #EDEDED;
    border-radius: 14px 0px 0px 0px;
    position: relative;
    background-image: url("../img/slider1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .product-info .product-info__img .number {
      position: absolute;
      border-radius: 50%;
      background: #000;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      font-size: 12px;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .product-info .product-info__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 12px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product-info .product-info__title {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 500;
    padding-right: 10px; }
  .product-info .product-info__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #069BBC;
    font-size: 12px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .product-info .product-info__link:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/info.svg");
    background-size: cover;
    margin-right: 8px; }
  .product-info .product-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .product-info .option {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .product-info .option p {
      font-size: 12px;
      color: #000; }
    .product-info .option .option__text {
      text-transform: uppercase;
      padding-left: 5px; }
  .product-info .product-info__price {
    font-size: 14px; }
    .product-info .product-info__price .num {
      font-weight: 600; }

.modal-content {
  max-width: 328px;
  margin: 0 auto;
  border-radius: 0; }
  .modal-content .close {
    text-align: right;
    padding-right: 5px;
    outline: none; }
    .modal-content .close span {
      color: red; }
  .modal-content .modal-body {
    max-height: 320px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    position: relative; }
    .modal-content .modal-body .slider-for,
    .modal-content .modal-body .slider-nav {
      opacity: 0; }
    .modal-content .modal-body .slider-nav {
      width: 75px;
      height: 311px; }
      .modal-content .modal-body .slider-nav img {
        width: 75px;
        height: 90px;
        border: 1px solid #EEEEEE; }
      .modal-content .modal-body .slider-nav .prevArr,
      .modal-content .modal-body .slider-nav .nextArr {
        display: inline-block;
        height: 15px;
        background: #c4c4c4;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center; }
        .modal-content .modal-body .slider-nav .prevArr:hover,
        .modal-content .modal-body .slider-nav .nextArr:hover {
          cursor: pointer; }
      .modal-content .modal-body .slider-nav .prevArr {
        background-image: url("../img/up.svg"); }
      .modal-content .modal-body .slider-nav .nextArr {
        background-image: url("../img/down.svg"); }
    .modal-content .modal-body .slider-for {
      width: 250px; }
      .modal-content .modal-body .slider-for img {
        width: 100%; }
    .modal-content .modal-body .slick-vertical .slick-slide {
      border: none; }
    .modal-content .modal-body .slick-list {
      margin-top: -9px;
      bottom: -2px; }
    .modal-content .modal-body .modalSlider__title {
      position: absolute;
      z-index: 2;
      font-size: 16px;
      line-height: 20px;
      width: 200px;
      right: 0;
      padding-right: 20px;
      font-weight: 600; }

.grey-title {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #000;
  background: rgba(196, 196, 196, 0.24); }

.order-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .order-form .size-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 16px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .order-form .size-block__title {
    min-width: 80px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px; }
    .order-form .size-block__title span {
      font-weight: 400; }
  .order-form .size-block__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .order-form .size-block__items span {
      width: 28px;
      height: 22px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 15px;
      font-size: 16px; }
      .order-form .size-block__items span:hover {
        cursor: pointer; }
    .order-form .size-block__items .active {
      border: 1px solid #C4C4C4; }
  .order-form .options-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .order-form .options-title p {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 15px;
      padding-top: 22px; }
    .order-form .options-title .color-title {
      width: 40px;
      text-align: left; }
    .order-form .options-title .quantity-title {
      width: 92px; }
    .order-form .options-title .rigging-title {
      width: 82px; }
  .order-form .options-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .order-form .options-list .quantity__item {
      height: 23px;
      width: 92px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .order-form .options-list .quantity__item input::-webkit-outer-spin-button,
      .order-form .options-list .quantity__item input::-webkit-inner-spin-button {
        -webkit-appearance: none; }
      .order-form .options-list .quantity__item input[type='number'] {
        -moz-appearance: textfield; }
      .order-form .options-list .quantity__item input {
        width: 30px;
        margin: 0px 5px 0 5px;
        height: 23px;
        text-align: center;
        font-size: 12px; }
      .order-form .options-list .quantity__item span {
        display: block;
        width: 21px;
        height: 23px;
        background-repeat: no-repeat;
        background-position: center; }
        .order-form .options-list .quantity__item span:hover {
          cursor: pointer; }
      .order-form .options-list .quantity__item .minus {
        background-image: url("../img/minus.svg"); }
      .order-form .options-list .quantity__item .plus {
        background-image: url("../img/plus.svg"); }
    .order-form .options-list .rigging {
      width: 187px;
      padding-left: 5px; }
      .order-form .options-list .rigging .options-list__item {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px; }
      .order-form .options-list .rigging .rigging__title {
        width: auto;
        height: auto;
        border-radius: 0; }
    .order-form .options-list .color {
      width: 142px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .order-form .options-list .options-list__item {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      .order-form .options-list .options-list__item p {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-right: 5px; }
      .order-form .options-list .options-list__item .red {
        background-color: red; }
      .order-form .options-list .options-list__item .blue {
        background-color: blue; }
      .order-form .options-list .options-list__item .green {
        background-color: green; }
      .order-form .options-list .options-list__item span {
        font-size: 12px; }
  .order-form #addToOrder {
    width: 250px;
    height: 40px;
    color: #fff;
    background: #000;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px; }
    .order-form #addToOrder:hover {
      cursor: pointer; }
  .order-form textarea {
    margin-top: 5px;
    width: 100%;
    min-height: 68px;
    border: 1px solid #EEEEEE;
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
    outline: none; }
  .order-form .smile-block {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -14px;
    z-index: 2; }
    .order-form .smile-block p {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: #dcdcdc;
      display: block;
      margin-right: 12px;
      position: relative; }
      .order-form .smile-block p img {
        position: absolute;
        z-index: 1; }
    .order-form .smile-block .active .colored {
      z-index: 2; }

.pagination {
  height: 42px;
  width: 100%;
  border-radius: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .pagination a {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #C4C4C4; }
  .pagination .next {
    background: #777777; }
  .pagination .next:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url("../img/right.svg");
    right: 8px; }
  .pagination .prew:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url("../img/left.svg");
    left: 8px; }
  .pagination .page-num {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 42px;
    height: 42px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 24px; }

.passport-info__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding-top: 15px; }

.passport-info__subtitle {
  font-size: 16px;
  line-height: 20px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px 24px 10px; }

.passport-info__options-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px; }
  .passport-info__options-block .chess__item {
    border-radius: 0; }
  .passport-info__options-block .chess__num {
    display: none; }

.passport-info__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 15px;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center; }
  .passport-info__option p {
    font-size: 12px;
    line-height: 20px;
    margin-right: 5px; }

.history-slider {
  width: 100%;
  margin-bottom: 10px; }
  .history-slider .history-slider__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none; }
  .history-slider a {
    min-width: 153px;
    min-height: 143px;
    max-width: 153px;
    max-height: 143px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

.recomended-block {
  padding: 20px 0; }

.modal-content .modal-form {
  background: #DDDDDD;
  padding: 20px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 100%; }
  .modal-content .modal-form .button-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding-top: 30px;
    width: 100%; }
    .modal-content .modal-form .button-block .close,
    .modal-content .modal-form .button-block .send-form {
      font-size: 18px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background: #fff;
      font-weight: 400;
      width: 100px;
      height: 40px;
      opacity: 1;
      text-transform: uppercase;
      padding: 0; }
      .modal-content .modal-form .button-block .close:hover,
      .modal-content .modal-form .button-block .send-form:hover {
        cursor: pointer; }
    .modal-content .modal-form .button-block .send-form {
      background: #000;
      color: #fff;
      border: none;
      outline: none;
      width: 100px;
      height: 40px;
      opacity: 1;
      text-transform: uppercase; }

.modal-content .modal-form__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-bottom: 8px; }

.modal-content .modal-form__name-model {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }

.modal-content .form-options,
.modal-content .form-options__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .modal-content .form-options input,
  .modal-content .form-options p,
  .modal-content .form-options__item input,
  .modal-content .form-options__item p {
    background: none;
    border: none;
    width: 50%;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase; }
  .modal-content .form-options .form-options__quantity,
  .modal-content .form-options__item .form-options__quantity {
    text-transform: none;
    font-weight: 400; }
  .modal-content .form-options .form-options__rigging,
  .modal-content .form-options .form-options__color,
  .modal-content .form-options__item .form-options__rigging,
  .modal-content .form-options__item .form-options__color {
    font-weight: 400; }

.modal-content .form-options.color {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #777777; }

.modal-content .form-options__item {
  padding-top: 15px; }
