

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body{
	font-family: 'Roboto', sans-serif;
}

@keyframes mainShadowAnim{
	from { background-color: rgba(0, 0, 0, 0);}
	to{background-color: rgba(0, 0, 0, 0.7);}
}


.background-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	.shadow-block{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: rgba(0, 0, 0, 0);
	}
	.shadow-block.show{
		animation: mainShadowAnim .7s forwards;
	}
}

.container{
	display: flex;
	flex-direction: column;
	max-width: 360px;
	// border: 1px solid red;
	flex: 1 1 auto;
}
p{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.linkBtn{
	width: 250px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
	background: #fff;
	color: #000;
	&:hover{
		text-decoration: none;
		color: #000;
	};

}
.message{
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 100;
	top: 0;
	
	p{
		text-align: center;
		padding: 25px 15px;
		background: rgba(255, 255, 255, 0.8);
		max-width: 250px;
		box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);

	}
}
.preloader{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	img{
		width: 30px;
		height: 30px;
	}
}


.start-container{
	overflow: hidden;
	position: relative;
}


.start-block{
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	transition: .7s;
	.start-block__title{
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 50px;
		margin-top: 50%;
		p{
			font-size: 24px;
			line-height: 33px;
			font-family: 'Roboto', sans-serif;
		}
		span{
			font-size: 36px;
			line-height: 50px;
			font-weight: 500;
		}
	}
}
.start-block.hideBlock{
	left: -100%;
}

.register-block{
	transition: .7s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
}
.register-block.showBlock{
	right: 0;
}

.signForm, 
.client-form{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	.form__title{
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 38px;
	}
	input{
		width: 250px;
		margin-bottom: 38px;
		height: 20px;
		background: none;
		border: none;
		border-bottom: 1px solid #fff;
		padding: 5px 0px;
		color: #fff;
		font-size: 14px;
		line-height: 16px;
		outline: none;
		height: 40px;
	}
	input[type="submit"]{
		font-size: 18px;
		text-transform: uppercase;
		border: none;
		width: 250px;
		height: 40px;
		background: #fff;
		color: #000;
		cursor: pointer;
	}
}

input.error {
 border: 1px solid #ff0000;
}
label.error {
 color: #ff0000;
 font-weight: normal;
 margin-top: -26px;
 font-size: 12px;
}

.register-client{
	transition: .7s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
}
.register-client.showBlock{
	right: 0;
}

header{
	width: 100%;
	height: 85px;
	background: #000;
	.header__company-name{
		height: 25px;
		background: #C2C2C2;
		text-align: center;
		font-size: 12px;
		line-height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.header-container{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	p{
		color: #fff;
	}
	.back-button,
	.burger,
	.user{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #fff;
	}
}
.collections{
	display: flex;
	flex-direction: column;
	align-items: center;
	.collections__title{
		font-size: 18px;
		line-height: 26px;
		text-transform: uppercase;
		text-align: center;
		padding: 15px 0 23px 0;
		font-weight: 400;
		span{
			font-weight: 700;
		}
	}
	.collections__link{
		width: 328px;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
		margin-bottom: 18px;
	}
}