@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  font-family: 'Roboto', sans-serif; }

@-webkit-keyframes mainShadowAnim {
  from {
    background-color: rgba(0, 0, 0, 0); }
  to {
    background-color: rgba(0, 0, 0, 0.7); } }

@keyframes mainShadowAnim {
  from {
    background-color: rgba(0, 0, 0, 0); }
  to {
    background-color: rgba(0, 0, 0, 0.7); } }

.background-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }
  .background-block .shadow-block {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0); }
  .background-block .shadow-block.show {
    -webkit-animation: mainShadowAnim .7s forwards;
            animation: mainShadowAnim .7s forwards; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 480px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

p {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.linkBtn {
  width: 250px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  background: #fff;
  color: #000; }
  .linkBtn:hover {
    text-decoration: none;
    color: #000; }

.message {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  top: 0; }
  .message p {
    text-align: center;
    padding: 25px 15px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 250px;
    -webkit-box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3); }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0; }
  .preloader img {
    width: 30px;
    height: 30px; }

.start-container {
  overflow: hidden;
  position: relative; }

.start-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }
  .start-block .start-block__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50%; }
    .start-block .start-block__title p {
      font-size: 24px;
      line-height: 33px;
      font-family: 'Roboto', sans-serif; }
    .start-block .start-block__title span {
      font-size: 36px;
      line-height: 50px;
      font-weight: 500; }

.start-block.hideBlock {
  left: -100%; }

.register-block {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%; }

.register-block.showBlock {
  right: 0; }

.signForm,
.client-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .signForm .form__title,
  .client-form .form__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 38px; }
  .signForm input,
  .client-form input {
    width: 250px;
    margin-bottom: 38px;
    height: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px 0px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    height: 40px; }
  .signForm input[type="submit"],
  .client-form input[type="submit"] {
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    width: 250px;
    height: 40px;
    background: #fff;
    color: #000;
    cursor: pointer; }

input.error {
  border: 1px solid #ff0000; }

label.error {
  color: #ff0000;
  font-weight: normal;
  margin-top: -26px;
  font-size: 12px; }

.register-client {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%; }

.register-client.showBlock {
  right: 0; }
